@import "theme-minimalist.css";
@import "theme-red.css";

:root {
  --bg-color: #fff;
  --text-color: #000;
  --primary-color: green;
  --logo-bg-gradient-forefront: var(--text-color);
  --logo-bg-gradient: var(--text-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, a {
  color: var(--primary-color);
}

.logo {
  max-width: 500px;
}

header nav a {
  font-weight: 600;
}

footer a {
  color: var(--text-color);
}
