body.theme-minimalist {
  /* --bg-color: #f7f8f6; */
  --text-color: #1c1c1c;
  --primary-color: #57d2b5;
  --secondary-color: rgb(249, 129, 139);
  --logo-bg-gradient-forefront: rgb(228, 10, 10);
  --logo-bg-gradient: linear-gradient(160deg, var(--primary-color) 0%, rgba(255, 213, 0, 1) 100%);

  border: 8px solid var(--primary-color);

  & a {
    color: var(--secondary-color);
  }

  & .logo.uppercase-gradient a {
    font-size: 40px;
    line-height: 0.8;
    background: var(--logo-bg-gradient-forefront);
    background: var(--logo-bg-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (min-width: 768px) {
      font-size: 72px;
    }
  }

  & .title-text {
    max-width: 6em;
  }

}
