<footer class="flex justify-center">
    <ul class="flex max-w-2-xl">
        {% if editorSettings.emailLink.enabled %}
            <li class="mx-4"><p>Raphaël Ferrand</p></li>
        {% endif %}
        {% if editorSettings.github.enabled %}
            <li class="mx-4 w-6"><a href="https://github.com/goldenraphti">
                {% include icons/code.svg %}
            </a></li>
        {% endif %}

        {% if editorSettings.twitter.enabled %}
            <li class="mx-4">Twitter</li>
        {% endif %}

        {% if editorSettings.rss.enabled %}
            <li class="mx-4">RSS</li>
        {% endif %}
    </ul>
</footer>
