<footer class="flex justify-center">
    <ul class="flex max-w-2-xl">
        {% if editorSettings.emailLink.enabled %}
            <li class="mx-4"><p>Raphaël Ferrand</p></li>
        {% endif %}
        {% if editorSettings.github.enabled %}
            <li class="mx-4 w-6"><a href="https://github.com/goldenraphti">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                </svg>
            </a></li>
        {% endif %}
        
        {% if editorSettings.twitter.enabled %}
            <li class="mx-4">Twitter</li>
        {% endif %}
        
        {% if editorSettings.rss.enabled %}
            <li class="mx-4">RSS</li>
        {% endif %}
    </ul>
</footer>
