<header class="flex justify-between">

    {% if editorSettings.headerTitle.uppercaseGradient %}
    <div class="logo uppercase-gradient">
        {% if page.url == "/" %}
        <h1 >
            <a href="/" class="text-6xl font-bold uppercase leading-none">Raphaël Ferrand</a>
        </h1>
        {% else %}
            <a href="/" class="text-6xl font-bold uppercase leading-none">Raphaël Ferrand</a>
        {% endif %}
    </div>
    {% endif %}

    {% if editorSettings.headerTitle.smudgedVioletGaramond %}
    <div class="logo">
        <a href="/" class="text-6xl font-bold uppercase leading-none"><img src="/img/title-raphael-ferrand.png" alt="Raphaël Ferrand" class="w-32 md:w-64"></a>
    </div>
    {% endif %}
    
    {% include topnav %}
</header>