<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge; chrome=1"> <!-- Render Chrome if available or using latest version of Internet Explorer (Recommended). -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Raphaël Ferrand</title>
        <!-- Allows control over where resources are loaded from. Place as early in the document as possible, only applies to content below this tag. -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/theme-red.css">
    </head>
    <body class="min-h-screen flex flex-col justify-between p-2 md:p-8 theme-minimalist ">
        {% include header %}

        {{ content }}

        {% include footer %}
    </body>
</html>