<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Blog</title>
    </head>
    <body>
        {% include header %}
        <h1>{{ pageTitle }}</h1>

        {{ content }}

        {% include footer %}
    </body>
</html>