<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge; chrome=1"> <!-- Render Chrome if available or using latest version of Internet Explorer (Recommended). -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Raphaël Ferrand</title>
        <!-- Allows control over where resources are loaded from. Place as early in the document as possible, only applies to content below this tag. -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://unpkg.com/;">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/theme-red.css">
        <script src="/js/theme-switcher.js"></script>
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" async>
        <link href="https://unpkg.com/open-props/easings.min.css" rel="stylesheet" async>
    </head>
    <body class="min-h-screen flex flex-col justify-between items-center p-2 md:p-8 theme-minimalist {% if page.url == "/" %} homepage {% endif %}">
        {% include "header.liquid" %}

        <main class="flex-1 py-10 md:py-20 px-2 max-w-full md:max-w-3xl">{{ content }}</main>

        {% include "footer.liquid" %}
    </body>
</html>