<nav>
    <ul>
        <li><a href="">Blog</a></li>
        <li><a href="">Side Projects</a></li>
        <li><a href="">Dark/Light mode</a></li>
        <li><a href="">En/ES/FR</a></li>
        <li><a href="">Email me</a></li>
    </ul>
</nav>
