<nav>
    <ul class="flex">
        <li class="px-4"><a href="">Blog</a></li>
        <li class="px-4"><a href="">Side Projects</a></li>
        <li class="px-4"><a href="">Dark/Light mode</a></li>
        <li class="px-4"><a href="">En/ES/FR</a></li>
        <li class="px-4"><a href="">Email me</a></li>
    </ul>
</nav>
