<nav>
    <ul class="flex">
        <li class="px-8"><a href="" class="">Blog</a></li>
        <li class="px-8"><a href="" class="">Side Projects</a></li>
        <li class="px-8"><a href="" class="">Dark/Light mode</a></li>
        <li class="px-8"><a href="" class="">En/ES/FR</a></li>
        <li class="px-8"><a href="" class="">Email me</a></li>
    </ul>
</nav>
