<nav>
    <ul class="flex">
        <li class="px-8"><a href="" class="">Blog</a></li>
        {% if editorSettings.sideProjects.enabled %}
            <li class="px-8"><a href="" class="">Side Projects</a></li>
        {% endif %}
        {% if editorSettings.darkMode.enabled %}
            <li class="px-8"><a href="" class="">Dark/Light mode</a></li>
        {% endif %}
        {% if editorSettings.translations.enabled %}
            <li class="px-8"><a href="" class="">En/ES/FR</a></li>
        {% endif %}
        {% if editorSettings.email.enabled %}
            <li class="px-8"><a href="" class=""><a href="mailto:rfemailtesting@gmail.com">Email me</a></a></li>
        {% endif %}
    </ul>
</nav>
